<footer class="footer">
  <div class="content has-text-centered" has-background-grey-dark>
    <p style="color: #fff">
      <strong style="color: #fff">Brix System</strong> by
      <a href="https://jgthms.com">Brix Novesteras</a>. The source code is
      licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
      The website content is licensed
      <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
        >CC BY PHIL SA 4.0</a
      >.
    </p>

    <p style="color: #fff">
      Registered Office Address: Holy Trinity Avenue, Holy Trinity Village,
      Cabantian 8000 Davao City, Philippines
    </p>

    <p class="copyright-label">
      Copyright ©2023 BrixSystems.Inc All rights reserved
    </p>

    <span class="icon has-text-info">
      <i class="fa-brands fa-facebook-f"></i>
    </span>
    <span class="icon has-text-info">
      <i class="fa-brands fa-github"></i>
    </span>
    <span class="icon has-text-info">
      <i class="fa-brands fa-linkedin"></i>
    </span>
    <span class="icon has-text-info">
      <i class="fa-brands fa-skype"></i>
    </span>
  </div>
</footer>
