<!-- <body>
  <section class="hero is-info is-fullheight">
    <app-header></app-header>

    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-6 is-offset-3">
          <h1 class="title">Coming Soon</h1>
          <h2 class="subtitle">
            This is the best software platform for running an internet business.
            We handle billions of dollars every year for forward-thinking
            businesses around the world.
          </h2>
          <div class="box">
            <div class="field is-grouped">
              <p class="control is-expanded">
                <input
                  class="input"
                  type="text"
                  placeholder="Enter your email"
                />
              </p>
              <p class="control">
                <a class="button is-info"> Notify Me </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</body> -->

<!-- <div class="my-element">
  <section class="hero is-info has-background-black">
    <div class="hero-body">
      <div class="container">
        <figure class="has-text-centered">
          <img src="assets/img/BulmaLogoWhite.png" style="max-width: 256px" />
        </figure>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="card-content">
      <div class="columns">
        <div class="column">
          <article class="media notification is-w is-primary">
            <figure class="media-left">
              <span class="icon is-medium">
                <i class="fab fa-2x fa-css3-alt"></i>
              </span>
            </figure>
            <div class="media-content">
              <div class="content">
                <h1 class="title is-size-4">Bulma?</h1>
                <p class="is-size-5">
                  Bulma is a modern CSS framework from @jgthms, based on
                  Flexbox. Using Bulma, we can describe our website's design
                  using just classes. <span class="emoticon">ᕕ( ᐛ )ᕗ</span>
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <article class="media notification is-w is-danger">
            <figure class="media-left">
              <span class="icon is-medium">
                <i class="fab fa-2x fa-css3-alt"></i>
              </span>
            </figure>
            <div class="media-content">
              <div class="content">
                <h1 class="title is-size-4">Flexbox?</h1>
                <p class="is-size-5">
                  Flexbox is a CSS spec that makes sectioning and aligning more
                  natural. We don't need to know Flexbox but it's how Bulma
                  works behind-the-scenes. ⦤(^ー^)⦥
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <article class="media notification is-w is-info">
            <figure class="media-left">
              <span class="icon is-medium">
                <i class="fab fa-2x fa-css3-alt"></i>
              </span>
            </figure>
            <div class="media-content">
              <div class="content">
                <h1 class="title is-size-4">CSS?</h1>
                <p class="is-size-5">
                  Instead of writing our CSS per-element, we can use predefined
                  classes. With enough classes, we can describe our website
                  design using semantics. ٩(^ᴗ^)۶
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>

  <section class="container">
    <span class="bulma-loader-mixin"></span>
  </section>

  <div class="bulma-control-mixin has-background-info height:1000px">
    <h1
      class="title has-text-success has-text-centered has-background-warning-light py-2"
    >
      Social Status
      <span class="subtitle">CLUB</span>
    </h1>

    <div class="container has-text-centered">
      <div class="bulma-clearfix-mixin has-background-warning p-4">
        <img
          height="80"
          width="80"
          style="float: right; border-radius: 5rem"
          src="https://media.geeksforgeeks.org/wp-content/uploads/20220221132017/download.png"
        />
        <h1 class="subtitle" style="font-weight: bold">Welcome to Myworld!</h1>
        <div class="bulma-center-mixin-parent has-text-centered">
          <img
            class="bulma-center-mixin"
            height="196"
            width="196"
            src="https://source.unsplash.com/mEZ3PoFGs_k/192x192"
          />
        </div>
        <p>All in one place for science !</p>
      </div>
    </div>
  </div>
  <section class="section has-background-light">
    <div class="container">
      <div class="columns">
        <div class="column">
          <article class="media notification is-info">
            <figure class="media-left">
              <span class="icon is-medium">
                <i class="fab fa-2x fa-css3-alt"></i>
              </span>
            </figure>
            <div class="media-content">
              <div class="content">
                <h1 class="title is-size-4">Bulma?</h1>
                <p class="is-size-5">
                  Bulma is a modern CSS framework from @jgthms, based on
                  Flexbox. Using Bulma, we can describe our website's design
                  using just classes. <span class="emoticon">ᕕ( ᐛ )ᕗ</span>
                </p>
              </div>
            </div>
          </article>
        </div>
        <div class="column">
          <article class="media notification is-primary">
            <figure class="media-left">
              <span class="icon is-medium">
                <i class="fas fa-2x fa-align-justify"></i>
              </span>
            </figure>
            <div class="media-content">
              <div class="content">
                <h1 class="title is-size-4">…Flexbox?</h1>
                <p class="is-size-5">
                  Flexbox is a CSS spec that makes sectioning and aligning more
                  natural. We don't need to know Flexbox but it's how Bulma
                  works behind-the-scenes.
                  <span class="emoticon">⦤(^ー^)⦥</span>
                </p>
              </div>
            </div>
          </article>
        </div>
        <div class="column">
          <article class="media notification is-warning">
            <figure class="media-left">
              <span class="icon is-medium">
                <i class="fas fa-2x fa-shield-alt"></i>
              </span>
            </figure>
            <div class="media-content">
              <div class="content">
                <h1 class="title is-size-4">…Classes?</h1>
                <p class="is-size-5">
                  Instead of writing our CSS per-element, we can use predefined
                  classes. With enough classes, we can describe our website
                  design using semantics. <span class="emoticon">٩(^ᴗ^)۶</span>
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-one-third">
          <article class="media notification has-background-white">
            <figure class="media-left">
              <span class="icon">
                <i class="fas fa-lg fa-columns has-text-warning"></i>
              </span>
            </figure>
            <div class="media-content">
              <div class="content">
                <h1 class="title is-size-4">Columns</h1>
                <p class="subtitle is-size-5">
                  The power of <strong>Flexbox</strong> in a simple interface
                </p>
              </div>
            </div>
          </article>
        </div>
        <div class="column is-one-third">
          <article class="media notification has-background-white">
            <figure class="media-left">
              <span class="icon has-text-info">
                <i class="fab fa-lg fa-wpforms"></i>
              </span>
            </figure>
            <div class="media-content">
              <div class="content">
                <h1 class="title is-size-4">Form</h1>
                <p class="subtitle is-size-5">
                  The indispensable <strong>form controls</strong>, designed for
                  maximum clarity
                </p>
              </div>
            </div>
          </article>
        </div>
        <div class="column is-one-third">
          <article class="media notification has-background-white">
            <figure class="media-left">
              <span class="icon has-text-danger">
                <i class="fas fa-lg fa-cubes"></i>
              </span>
            </figure>
            <div class="media-content">
              <div class="content">
                <h1 class="title is-size-4">Components</h1>
                <p class="subtitle is-size-5">
                  Advanced multi-part components with lots of possibilities
                </p>
              </div>
            </div>
          </article>
        </div>
        <div class="column is-one-third">
          <article class="media notification has-background-white">
            <figure class="media-left">
              <span class="icon has-text-grey">
                <i class="fas fa-lg fa-cogs"></i>
              </span>
            </figure>
            <div class="media-content">
              <div class="content">
                <h1 class="title is-size-4">Modifiers</h1>
                <p class="subtitle is-size-5">
                  An <strong>easy-to-read</strong> naming system designed for
                  humans
                </p>
              </div>
            </div>
          </article>
        </div>
        <div class="column is-one-third">
          <article class="media notification has-background-white">
            <figure class="media-left">
              <span class="icon has-text-primary">
                <i class="fas fa-lg fa-warehouse"></i>
              </span>
            </figure>
            <div class="media-content">
              <div class="content">
                <h1 class="title is-size-4">Layout</h1>
                <p class="subtitle is-size-5">
                  Design the <strong>structure</strong> of your webpage with
                  these CSS classes
                </p>
              </div>
            </div>
          </article>
        </div>
        <div class="column is-one-third">
          <article class="media notification has-background-white">
            <figure class="media-left">
              <span class="icon has-text-danger">
                <i class="fas fa-lg fa-cube"></i>
              </span>
            </figure>
            <div class="media-content">
              <div class="content">
                <h1 class="title is-size-4">Elements</h1>
                <p class="subtitle is-size-5">
                  Essential interface elements that only require a
                  <strong>single CSS class</strong>
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
</div> -->

<app-blog></app-blog>
