.hero.is-info {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://lh5.googleusercontent.com/p/AF1QipOUdIMdOlK3sh5L6uIBZVpQLxzvw530BbDqZwm_=w408-h306-k-no) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.my-element {
    background: rgb(20, 114, 106);
}

@media screen and (min-width: 1280px) {
    .my-element {
        background: rgb(55, 55, 58);
    }
}